html {
    overflow-y: scroll;
}

body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Verdana,Arial,sans-serif;
}

#menu {
    text-align: center;
    /*border-bottom: .2em solid #4d6680;*/
/*    padding-bottom: 0.2em;*/
    padding: 0.2em;
    background-color: #BBBBBB;
    color: white;
}

#menu ul { list-style-type: none; }

#menu li {
    display: inline;
    margin-left: .2em;
}

#menu a {
    text-decoration: none;
    padding: 0.2em;
/*    background-color: #b5cce3;*/
    color: white;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#menu .selected a {
    background-color: #4d6680;
    color: #b5cce3;
}

#content {
  width: 67%;
  margin-left: 120px;
}

#news_list {
    list-style-type: none;
    padding: 0px;
}

#news_list h3 {
    background-color: #BBBBBB;
    color: white;
    padding: 3px;
}

pre {
    border: 1px dotted black;
    border-left: 5px solid #2288BB;
    padding: 6px;
    background-color: #EEEEEE;
}

h1 {
   color: #BBBBBB;
}
