<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>lc-tools :: {{ page.title }}</title>
  <meta name="author" content="Roman Bogorodskiy" />

  <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>

  <link rel="stylesheet" href="/css/lctools.css" type="text/css" />
  <script type="text/javascript" src="/js/lctools.js"></script>
</head>
<body>

  <div id="menu">
    <ul>
      <li>
        <a href="/index.html">home</a>
      </li>
      <li>
        <a href="/examples.html">examples</a>
      </li>
      <li>
        <a href="/download.html">download</a>
      </li>
      <li>
        <a href="/support.html">support</a>
      </li>
      <li>
       <a href="/documentation.html">documentation</a>
      </li>
    <ul>
  </div>

  <div id="content">
  {{ content }}
  </div>

</body>
